*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.header{
    background-color: red;
    padding: 15px;
    text-align: center;
}
.topic img {
    width: 100%;       /* Mantém a largura ocupando o card */
    height: 200px;     /* Define uma altura fixa para todas */
    object-fit: cover; /* Corta a imagem levemente para preencher o espaço sem distorcer */
}